{% extends 'base.html.twig' %}

{% block title %}Poser une question - Askme
{% endblock %}

{% block body %}
	<h1 class="mb-20">Poser une question
	</h1>
	{{ form_start(form) }}

	<div class="block-question">
		{{ form_rest( form) }}
	</div>

	<button class="btn btn-primary mt-10 "> Demander une réponse
	</button>
	{{ form_end(form) }}
{% endblock %}
