	<div class="d-flex flex-column mr-20 align-items-center">
                <i class="fa-sharp fa-solid fa-arrow-up {{ rating > 0 ? 'rating-up' : '' }}"></i>
                <p class=" text-small {{ rating > 0 ? 'rating-up' : rating < 0 ? 'rating-down' : ''  }} " {% if rating > 0  %} class='rating-up' {% elseif rating  < 0 %} class='rating-down' {% endif %} > {{
                    rating 
                }} </p>
                <i class="fa-sharp fa-solid fa-arrow-down {{ rating < 0 ? 'rating-down' : '' }}  "></i>
    </div>

  