<div class="sidebar d-flex flex-column mr-50">
	<button style="background-color:#12CBC4; border:0;" class"btn btn-primary btn-icon-primary bg-sidebar ">
		<i class="fa-solid fa-question mr-5"></i>
		<span>Poser une question
		</span>
	</button>
	<ul class=" py-50 sidebar-nav " >
		<li claass="active" style="cursor: pointer !important;margin-bottom:15px;" > <i class="fa-sharp  fa-solid fa-house mr-5"></i> Liste des questions
		</li>
		<li style="cursor: pointer !important; margin-bottom:15px;"><i class="fa-solid fa-question mr-5"></i> Mes questions
		</li>
		<li style="cursor: pointer !important;margin-bottom:15px;"><i class="fa-sharp fa-solid fa-reply mr-5"></i></i> Mes réponses 
		</li>

		
	</ul>
</div>
