/** reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #12CBC4;
    --primary-light: #E7F9F9;
    --accent: #0652DD;
    --warning: #EA2027;
    --success: #009432;
    --font-family: 'Open Sans', sans-serif;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 /15%);
    --border-radius: 3px;
    --border: 1px solid #ddd;
    --color: #636466;
    --color-primary: white;
    --color-dark: #444;
    --gray: #636466;
    --gray-light: #ddd;
    --gray-dark: #444;
    --max-width: 1200px;
    --footer-background: #0a3d62;
    --font-size-regular: 16px;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;


}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color);

}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-dark);
}

a {
    color: inherit;
    text-decoration: none;
}

/**flex */
.d-flex {
    display: flex;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-item-end {
    align-items: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.flex-fill {
    /* prendre tout l'espace disponible  */
    flex: 1;
}

/* debug  */
.b1 {
    background-color: red;
}

.b2 {
    background-color: blue;
}

.b3 {
    background-color: yellow;
}

.b4 {
    background-color: orange;
}


/**margin */
.m-5 {
    margin: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-50 {
    margin-right: 50px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 3px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
/**padding */

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* general 
 */
.content {
    max-width: var(--max-width);
}

.app-content {
    background-color: var(--gray-light);
    background-color: #dcf5f2;
}

.sidebar {
    min-width: 200px;
}

.btn {
    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: 0;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    opacity: 0.8;
    transition: opacity 0.4s;
}

.btn-small {
    padding: 5px 15px;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--color-primary);
    font-weight: 600;
}

.btn-primary-stroke {
    border: 1px solid var(--primary);
    color: var(--primary);
    background: white;
}

.block {
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--box-shadow);

}
.block-question  {
    padding: 20px;
    border-radius: var(--border-radius);
    background-color:#eaf1f5;
    box-shadow: var(--box-shadow);

}

.form_row {
   display: flex;
   flex-flow: column;


}
.form_row label {
    margin-bottom: 5px;
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-dark);
}

.form_row input, textarea {
    font-family: var(--font-family);
    border: 0;
    border-radius: var(--border-radius);
    padding: 10px 10px;
    background-color: var(--gray-light);
}

.form_row textarea {
    min-height: 150px ;

}
.form_errors {
    color: var(--warning);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
}

/* header  */
header {
    box-shadow: var(--box-shadow);
}

.header-search {
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
}

.header-search input {
    border: 0;
    outline: 0;
    background-color: var(--gray-light);

}

.header-logo {
    max-width: 150px;
}

.header-logo img {
    max-width: 100px;
}

/* sidebar */

.bg-sidebar {
    background: #64eee2 !important;
}

.sidebar-nav a {
    display: block !important;
    /* margin-bottom: 10px; */
    /* background:#dbada3 ; */
    padding: 10px;
    cursor: pointer !important;
    
}

.sidebar-nav a i {
    color: var(--color-dark);

}

.sidebar-navv a {
    background-color: #d4999d;

}

.active {
    border-left: 5px solid var(--primary);
    background-color: var(--primary-light);

}

.bg-white-sidebar-li {
    background: white;
}

/* footer  */

footer {
    background-color: var(--footer-background);
    background: #0a3d62;
    color: var(--color-primary);
}